.markdown-body {
    @apply
   bg-[#faf4ed] 
   dark:bg-[#232136]
   text-[#575279] 
   dark:text-[#e0def4]
}
.markdown-body h1 {
    @apply
    text-lg
    text-[#56949f]
    dark:text-[#9ccfd8]
    font-bold
    mb-4
    mt-6
}
.markdown-body h2 {
    @apply
    text-lg
    font-semibold
    mb-5
    mt-4
}
.markdown-body ul,
.markdown-body ol {
    @apply
    list-inside
    my-4
    ml-6
}

.markdown-body ol {
    @apply
    list-decimal
}

.markdown-body ul {
    @apply
    list-disc
}

.markdown-body li {
    @apply
    mb-2
    leading-relaxed
}

.markdown-body a {
    @apply
    text-[#b4637a] 
    dark:text-[#eb6f92]
    underline
}